.profile__box {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

.profile__box:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile__box {
    width: 18px;
    height: 18px;
  }
}
