.element__box-like {
  background-image: url(../../../images/Like.svg);
  border: none;
  padding: 0;
  min-width: 22px;
  height: 19px;
  background-color: transparent;
}

.element__box-like:hover {
  opacity: 0.5;
  cursor: pointer;
}
