.footer {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media screen and (max-width: 950px) {
  .footer {
    margin-left: 27px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
    width: 282px;
    margin-left: auto;
  }
}
