.popup__cross {
  position: absolute;
  border: none;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  background-image: url(../../../images/Cross.svg);
}

.popup__cross:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 570px) {
  .popup__cross {
    height: 25px;
    width: 25px;
    top: -38px;
    right: -38px;
    background-size: cover;
  }
}

@media screen and (max-width: 450px) {
  .popup__cross {
    height: 20px;
    width: 20px;
    top: -36px;
    right: 0;
  }
}
